<a href="/auth/instagram" class="btn btn-primary"><span class="fa fa-instagram"></span> Instagram</a>

<ul>
    <li><a href="/signup" data-toggle="tab">Sign Up</a></li>
    <li><a href="/login" data-toggle="tab">Login</a></li>
</ul>
